@import "./variable.styl"

body html
  line-height: 1
  font-family: 'PingFang SC', 'STHeiti', 'Helvetica Neue', arial, sans-serif, 'Droid Sans'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
